.new-city{
   
    /* padding-left: 50px; */
    background-image: url('https://img.freepik.com/free-vector/city-map-background-blue-tone_99087-101.jpg?size=626&ext=jpg');
    border-radius: 30px; 
     box-shadow: 10px 10px 10px lightgray;
    margin-top:5%;
    width: 100%;

}
.dots {
   
    /* padding-top: 50px; */
    /* padding-left: 50px; */
    width: 100%;
    height: 100%;
  }

  /* Popup container - can be anything you want */
.popup {
    /* position: relative;
    display: inline-block; */
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
 .popuptext {
    visibility: hidden;
    width: 160px;
    /* background-color: #555; */
    color: #fff;
    text-align: center;
    border-radius: 6px;
    /* padding: 8px 0; */
    /* position: absolute; */
    z-index: 1;
    /* bottom: 125%; */
    /* left: 50%; */ 
   /* / margin-left: -80px; */
  }
  
  /* Popup arrow */
  .popuptext::after {
    content: "";
    /* position: absolute; */
    top: 100%;
    /* /* left: 50%; */
    margin-left: -5px;
    border-width: 5px; 
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }



  
.div1{
  display: none;
  border:1px solid #000;
  border-radius: 5px;
  height:30px;
  width:150px;
  margin-left:40%;
  background-color: aqua;
}
a:hover + div{
  display: block;
}